body{
    height: 100vh;
    margin: 0;
}
.square{
    display:grid;
    border:1px dotted gray;
}
.container{
    max-width: 30em;
    min-height: 30em;
    display:grid;
    grid-template-columns:repeat(16,1fr);
}
